<form class="form-horizontal">  

  <div class="control-group">
    <label class="control-label" for="inputYear">โครงการประจำปี</label>
    <div class="controls">
      <input type="text" id="inputYear" placeholder="Year" ng-model="project.year">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputName">ชื่อโครงการ: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="Name" ng-model="project.name">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputName">ผู้รับผิดชอบ: </label> 
    <div class="controls">
        <select id="inputName" placeholder="Owner" ng-model="project.owner">
            <option ng-selected="project.owner=='งานธุรการและการเงิน'">งานธุรการและการเงิน</option>
            <option ng-selected="project.owner=='งานวิชาการ'">งานวิชาการ</option>
            <option ng-selected="project.owner=='งานแผนและสารสนเทศ'">งานแผนและสารสนเทศ</option>
            <option ng-selected="project.owner=='สำนักพิมพ์มหาวิทยาลัยนเรศวร'">สำนักพิมพ์มหาวิทยาลัยนเรศวร</option>
          </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputName">งบประมาณที่ขอ: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="money_plan" ng-model="project.money_plan">
          </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputName">งบประมาณ(ที่ใช้): </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="money_use" ng-model="project.money_use">
          </div>
  </div>  
  
  <div class="control-group">
    <label class="control-label" for="inputName">ร้อยละ: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="money_percent" ng-model="project.money_percent">
          </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputName">วันเดือนปีที่จัด: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="date_manage" ng-model="project.date_manage">
          </div>
  </div>
  
 <div class="control-group">
    <label class="control-label" for="inputName">สถานที่: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="place" ng-model="project.place">
          </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputName">จำนวนผู้เข้าร่วม: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="party" ng-model="project.party">
          </div>
  </div>
  
 <div class="control-group">
    <label class="control-label" for="inputName">จำนวนผู้ตอบ: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="respon" ng-model="project.respon">
          </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputName">ค่าเฉลี่ย: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="percent" ng-model="project.percent">
          </div>
  </div>   
  
 <div class="control-group">
    <label class="control-label" for="inputName">ระดับความพึงพอใจ: </label>
    <div class="controls">
      <input type="text" id="inputName" placeholder="sd" ng-model="project.sd">
          </div>
  </div> 
  
   <div class="control-group">
      <label class="control-label" for="inputName">ร้อยละค่าเฉลี่ย: </label>
      <div class="controls">
          <input type="text" id="inputName" placeholder="average" ng-model="project.average">
        </div>
    </div> 
  
    <div class="control-group">
      <label class="control-label" for="inputName">โหลดข้อมูล: </label>
      <div class="controls">
          <input type="text" id="inputName" placeholder="load" ng-model="project.Load"> <a href="{{project.load}}" ng-show="project.load"> ไฟล์โครงการ</a>          
        </div>
    </div> 

  <div class="control-group">
    <label class="control-label" for="inputName">วัตถุประสงค์ของโครงการ: </label> 
    <div class="controls">
        <select id="inputName" placeholder="object" ng-model="project.object">
            <option ng-selected="project.object=='บรรลุวัตถุประสงค์'">บรรลุวัตถุประสงค์</option>
            <option ng-selected="project.object=='ไม่บรรลุวัตถุประสงค์'">ไม่บรรลุวัตถุประสงค์</option>
          </select>
    </div>
  </div>
  
   <div class="control-group">
    <label class="control-label" for="inputName">เป้าหมายของโครงการ: </label> 
    <div class="controls">
        <select id="inputName" placeholder="goal" ng-model="project.goal">
            <option ng-selected="project.goal=='บรรลุเป้าหมาย'">บรรลุเป้าหมาย</option>
            <option ng-selected="project.goal=='ไม่บรรลุเป้าหมาย'">ไม่บรรลุเป้าหมาย</option>
          </select>
    </div>
  </div>   
    
    <div class="control-group">
    <label class="control-label" for="inputName">ตัวชี้วัดของโครงการ: </label> 
    <div class="controls">
        <select id="inputName" placeholder="kpi" ng-model="project.kpi">
            <option ng-selected="project.kpi=='เป็นไปตามตัวชี้วัด'">เป็นไปตามตัวชี้วัด</option>
            <option ng-selected="project.kpi=='ไม่เป็นไปตามตัวชี้วัด'">ไม่เป็นไปตามตัวชี้วัด</option>
          </select>
    </div>
  </div>
  
     
  <div class="control-group">
        <div class="controls">
          <button ng-click="save()" class="btn btn-primary" type="submit"> <i class="icon-ok icon-white"></i> Save</button>
          <button ng-click="destroy()" ng-show="project._id" class="btn btn-success"><i class="icon-remove icon-white"></i> Delete</button>
              <a href="#/" class="btn btn-danger"><i class="icon-ban-circle icon-white"></i> Cancel</a> 
         </div>
  </div>
   
</form>
